<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94954116597-u2m1quuhqo659u43v9qditsflvi3ol02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94954116597-u2m1quuhqo659u43v9qditsflvi3ol02</string>
	<key>API_KEY</key>
	<string>AIzaSyDsf78xfUfLc7K8ix1csp7iCrePm8UvRnM</string>
	<key>GCM_SENDER_ID</key>
	<string>94954116597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cchampou.alert.alert</string>
	<key>PROJECT_ID</key>
	<string>alert-d0740</string>
	<key>STORAGE_BUCKET</key>
	<string>alert-d0740.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94954116597:ios:10fe2ccef1857b94d4bcbc</string>
</dict>
</plist>